<section class="contact-section py-5">
  <div class="container-lg pb-5">

    <h2 class="text-center mb-5 contact-title">تواصل معنا</h2>

    <div class="row g-4 justify-content-center">

      <!-- Phone -->
      <div class="col-md-6 col-lg-4">
        <div class="contact-card text-center">
          <div class="icon">
            <i class="fa-solid fa-phone"></i>
          </div>
          <h5>الهاتف</h5>
          <p>01005031846</p>
        </div>
      </div>

      <!-- WhatsApp -->
      <div class="col-md-6 col-lg-4">
        <div class="contact-card text-center">
          <div class="icon">
            <i class="fa-brands fa-whatsapp"></i>
          </div>
          <h5>واتساب</h5>
          <p>01150161034</p>
        </div>
      </div>

      <!-- Address -->
      <div class="col-md-6 col-lg-4">
        <div class="contact-card text-center ">
          <div class="icon">
            <i class="fa-solid fa-location-dot"></i>
          </div>
          <h5>العنوان</h5>
          <p>
            185 شارع الملك فيصل <br>
            الطوابق، بجوار التوحيد والنور
          </p>
        </div>
      </div>

      <!-- Facebook -->
      <div class="col-md-6 col-lg-4">
        <div class="contact-card text-center ">
          <div class="icon">
            <i class="fa-brands fa-facebook"></i>
          </div>
          <h5>فيسبوك</h5>
          <a href="https://www.facebook.com/share/g/1EJLDYUp8F/" target="_blank">
            زيارة الصفحة
          </a>
        </div>
      </div>

      <!-- Telegram -->
      <div class="col-md-6 col-lg-4">
        <div class="contact-card text-center">
          <div class="icon">
            <i class="fa-brands fa-telegram mx-3"></i>
          </div>
          <h5>تيليجرام</h5>
          <a href="https://t.me/+SfdqWgBpFJmYNbrb" target="_blank">
            الانضمام للقناة
          </a>
        </div>
      </div>

    </div>

  </div>
</section>