<footer class="footer mt-0">
  <div class="container-lg">
    <div class="row mb-4">
      <div class="col-md-4 mb-4">
        <h5>عن Zamzam</h5>
        <p>متخصصون في بيع أجود العبايات الخليجية والسورية بأسعار منافسة وجودة عالية.</p>
      </div>
      <div class="col-md-4 mb-4">
        <h5>الروابط السريعة</h5>
        <ul class="list-unstyled ">
          <li><a  class="nav-link" routerLink="/" >الرئيسية</a></li>
          <li><a class="nav-link" routerLink="/shop">المتجر</a></li>
          <li><a class="nav-link" routerLink="/contact">التواصل</a></li>
        </ul>
      </div>
      <div class="col-md-4 mb-4">
        <h5>تواصل معنا</h5>
        <ul class="list-unstyled">
          <li><i class="fa-brands fa-whatsapp"></i>  01005031846</li>
          <li><i class="fa-solid fa-phone"></i> 01150161034</li>
          <li>📍185 شارع الملك فيصل , الطوابق , بجوار التوحيد والنور</li>
        </ul>
      </div>
    </div>
    <div class="divider-gold"></div>
    <div class="text-center py-3">
      <p class="mb-0">&copy; {{ currentYear }} Zamzam. جميع الحقوق محفوظة.</p>
    </div>
  </div>
</footer>
